<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Login</th>
        <th>Photo</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>
            {{ user.id }}
        </td>
        <td>
            {{ user.email }}
        </td>
        <td>
            {{ user.login }}
        </td>
        <td>
            <img ng-if="user.src" ng-src="bundles/restusers/photos/{{ user.src }}.jpg" style="width:40px; height:40px">
        </td>
        <td>
            <button class="btn btn-default" ng-click="editPage(user)">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </td>

    </tr>
    </tbody>
</table>
<button class="btn btn-default" ng-click="addPage()">
    <span class="glyphicon glyphicon-plus-sign"></span>
</button>

