<div>
    <ul  class="pagination pagination-centered">
        <li ng-if="paging.prev>0">
            <a href="javascript:;"ng-click="getUsersList(paging.prev)" >Prev</a>
        </li>

        <li ng-repeat="pageNum in paging.pages" ng-class="{'active' : pageNum==paging.current}">
            <a href="javascript:;"ng-click="getUsersList(pageNum)" >{{pageNum}}</a>
        </li>

        <li ng-if="paging.next>0">
            <a href="javascript:;"ng-click="getUsersList(paging.next)" >Next</a>
        </li>
    </ul>

</div>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Login</th>
        <th>Password</th>
        <!--<th>Photo</th>-->
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users">
        <td>
            {{ user.id }}
        </td>
        <td>
            {{ user.email }}
        </td>
        <td>
            {{ user.login }}
        </td>
        <td>
            {{ user.password }}
        </td>
        <!--<td>-->
            <!--<img ng-if="user.src" ng-src="bundles/restusers/photos/{{ user.src }}.jpg" style="width:40px; height:40px">-->
        <!--</td>-->
        <td>
            <button class="btn btn-default" ng-click="editPage(user)">
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </td>

    </tr>
    </tbody>
</table>

<button class="btn btn-default" ng-click="addPage()">
    <span class="glyphicon glyphicon-plus-sign"></span>
</button>



